@import 'variaveis';

.sobre {
    margin-top: 2rem;
    display: $flex;
    justify-content: $center;
    align-items: $center;
    height: 80%;

    img {
        max-height: 70%;
        border-radius: 2rem;
        box-shadow:
            10px 10px 5px rgb(230, 229, 173),
            15px 15px 5px $black;
    }

    h1 {
        text-align: $center;
        color: rgb(255, 230, 0);
        margin: 40px $auto;
        font-size: 70px;
        letter-spacing: 5px;
        text-shadow: 4px 4px 0px $black,
            -4px 0 0px $black,
            7px 4px 0 $white;
    }
}

.informacoes-sobre {

    border-top: 2px solid $yellow;
    padding: 10px;
    background: rgb(32, 32, 32);
    background: linear-gradient(234deg, rgba(32, 32, 32, 1) 0%, rgba(57, 57, 57, 1) 35%, rgba(88, 88, 88, 1) 100%);

    h1 {
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        color: rgb(255, 208, 0);
        margin-top: 50px;
        text-shadow: 0 1px 2px #070707,
            1px 3px 1px $black,
            2px 5px 1px $black,
            4px 7px 1px $black
    }

    .img-certificado {
        box-shadow:
            10px 10px 5px $black,
            15px 15px 5px $black;
    }

    h2,
    h3,
    p {
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: $center;
        color: $white;
    }

    p {
        font-style: $oblique;
    }

    img {
        max-height: 70%;
        border-radius: 2rem;
    }

}

.conhecimento {

    h1 {

        background-color: rgb(0, 0, 0);
        border-radius: 20px;
        padding: 10px;
        border: 1px $solid $yellow;

        font-weight: $bold;
        text-transform: $uppercase;
        text-align: $center;
        color: rgb(255, 208, 0);
        margin-top: 50px;
        text-shadow: 0 1px 2px #070707,
            1px 3px 1px $black,
            2px 5px 1px $black,
            4px 7px 1px $black
    }

    img {
        height: 50px;
        margin: 20px;
    }

    h4 {
        font-weight: $bold;
        color: rgb(221, 221, 221);
        text-shadow: 0 1px 2px #070707,
            1px 3px 1px $black,
            2px 5px 1px $black,
            4px 7px 1px $black
    }
}

.contato {

    h2 {

        background-color: $black;
        border-radius: 20px;
        padding: 20px;
        border: 1px $solid $yellow;

        font-weight: $bold;
        text-transform: $uppercase;
        text-align: $center;
        color: $yellow2;
        margin-top: 50px;
        text-shadow: 0 1px 2px #070707,
            1px 3px 1px $black,
            2px 5px 1px $black,
            4px 7px 1px $black
    }

    .redes-sociais {

        height: 90%;
        display: $flex;
        align-items: $center;
        justify-content: $center;
        flex-direction: $column;
        margin-bottom: 10px;

        padding: 20px;
        margin-top: 20px;
        border: 1px $solid $yellow;
        background-color: $black;
        border-radius: 20px;

        h3 {
            padding: 10px;
            text-align: $center;
            color: $yellow;
            text-transform: $uppercase;
            font-weight: $bold;
        }

        h6 {
            color: $yellow;
            text-align: $center;

            a {
                color: $yellow;
                text-decoration: $none;

                &:hover {
                    cursor: $pointer;
                    text-decoration: $underline;
                }
            }
        }

        .btn-redes-sociais {
            background-color: $yellow;
            color: $black;

            &:hover {
                background-color: $black;
                color: $yellow;
                border: 1px $solid $yellow;
            }
        }
    }

}