//colors

$yellow: yellow;
$yellow2: ffe600;
$black: black;
$white: white;

//positions

$flex: flex;
$auto: auto;
$center: center;
$relative: relative;
$absolute: absolute;
$column: column;

//text
$bold: bold;
$uppercase: uppercase;

//others

$none: none;
$solid: solid;
$pointer: pointer;
$underline: underline;
$oblique: oblique;